

div {
color: #000;
}

h1{
  font-size: 4rem;
}

form{
  width: 50vh;
  margin: 2rem auto;
}
select{
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 0;
  outline: none;
  border-radius: 1rem;
  background-color: #fff;
}

input{
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

input:focus{

box-shadow: 4px 4px 8px 4px rgba(34, 60, 80, 0.2);

}

input :hover{


}

button{
  border: 0;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 4px 4px 8px 4px rgba(34, 60, 80, 0.2);
  background-color: rgb(50, 120, 185);
  color: #fff;
}

button:hover{
  background-color: rgb(58, 131, 199);
}

.error{
  color: red;
  opacity: 0.5;
}